!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %title Courierbot
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/navigation'

    .container#mainContent
      - if notice.present?
        .alert.alert-success.alert-dismissable.fade.show{role: 'alert'}
          = notice
          %button{type: 'button', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'Close'}
            %span{'aria-hidden': 'true'} &times;
      - if alert.present?
        .alert.alert-danger.alert-dismissable.fade.show{role: 'alert'}
          = alert
          %button{type: 'button', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'Close'}
            %span{'aria-hidden': 'true'} &times;

      = yield
    = render 'shared/about_modal'
